<p>
  databinding works!
</p>

<h2> DataBinding Assignment 1</h2>

<div class="form-group">
  <label for=""> Enter Book Name to Search</label>
  <input type ="text" class="form-control" [(ngModel)] ="bookName">
</div>
<b>You are searching for {{bookName}}</b>
<br> 
 

<h2> Databinding Assignment 2 </h2>

<input type="text" class="form-control" placeholder="Enter your age" [(ngModel)]="age">
<br>
<button class="btn btn-primary" (click)="ageCalculator()"> Show me Year</button>&nbsp;
<b> Your were born in {{year}}</b>
<br> 
<h2>DataBinding Assignment 3</h2>
<div class="form-group">
  <label for="">Change Color</label>
  <input type="text" class="form-control" [(ngModel)] ="myColor">
</div>

<div [ngStyle] ="{color:myColor}"> Paint the Town {{myColor}}</div> 
 
<h1>Pipes</h1>
<h2>Assignment 1</h2>
<b>Product Price:{{217021|currency:currencyCode}}</b>&nbsp;
<button class="btn btn-primary" (click)="currencyCode='USD'">USD</button>&nbsp;
<button class="btn btn-primary" (click)="currencyCode='CAD'">CAD</button>

<h1>Pipes</h1>
<h2>Assignment 2</h2><br>
<b>Product Price:{{ "6/2/2017" | date }} </b>&nbsp;<br>
<b>{{ 250000 | currency:'CAD'}}</b> &nbsp;<br>
<b>{{ "6/2/2017, 11:30:45 AM" | date:'medium' }}</b>&nbsp;<br>
<b>{{ 0.1 | percent }}</b>&nbsp;<br>
<b>{{ 'Laptop Charger'| slice:3:6}}</b>&nbsp;<br>
<b>{{ 25000 | number:'.3-5' }}</b>&nbsp;<br>
<b>{{ "6/2/2017, 11:30:45 AM" | date:'mmss' }}</b>&nbsp;<br>
